<ul class="tabs">
  <li><%= link_to "Popular deals", popular_path %></li>
  <li><%= link_to "Latest deals", latest_path %></li>
</ul>

<table id="deals">
<% @deals.each do |deal| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td class="vote">
      <%= deal.points %>
      <% vote = deal.user_vote(current_user) %>
      <% if vote %>
        <% if vote.up %>
          <%= link_to "Up.", new_vote_path(vote), :method => :put %>
          <%= link_to "Down", new_vote_path(vote), :method => :put %>
        <% else %>
          <%= link_to "Up", new_vote_path(vote), :method => :put %>
          <%= link_to "Down.", new_vote_path(vote), :method => :put %>
        <% end %>
      <% else %>
        <%= link_to "Up", votes_path(Vote.new, :deal_id => deal.id, :up => true), :method => :post %>
        <%= link_to "Down", votes_path(Vote.new, :deal_id => deal.id, :up => false), :method => :post %>
      <% end %>
    </td>
    <td class="price"><%= number_to_currency(deal.price) %></td>
    <td class="title"><%= link_to deal.title, deal %></td>
    <td class="ago"><%= submitted_ago(deal) %></td>
  </tr>
<% end %>
</table>
