<h2><%= @title = @deal.title %></h2>
<div id="deal">
  <p>
    <%= link_to "Link to deal", @deal.url, :target => "_blank" %> 
    @
    <%= number_to_currency(@deal.price) %>
  </p>
  <p class="description"><%= @deal.description %></p>
</div>

<p>Plugged by: <%= @deal.user.username %> at <%= submitted_ago(@deal) %></p>
<% if can? :update, @deal %>
  <%= link_to('Edit', edit_deal_path(@deal)) %>
<% end %>
<% if can? :destroy, @deal %>
  | <%= link_to('Destroy', @deal, :confirm => 'Are you sure?', :method => :delete) %>
<% end %>
